<!DOCTYPE html>
<html>
<head>
  <title>Select Rectangular Section of Image and Send to OpenCV</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <canvas id="canvas" width="500" height="500"></canvas>
  <br>
  <button id="send-btn">Send Selected Region to OpenCV</button>
  <script>
    $(document).ready(function() {
      var canvas = document.getElementById('canvas');
      var ctx = canvas.getContext('2d');
      var img = new Image();
      img.onload = function() {
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      };
      // img.src = '/Users/harshitbatra/Documents/Harshit Batra.jpeg';
      // var img_src = $('#random')[0]['innerHTML']
      // console.log("random", img_src)
      img.src = '{{image_url}}'
      // img.src = "{{url_for('static',filename=img_src)}}"
      // url_for('static', filename='foo.bar')
      console.log("img == ", img.src)
      var startX, startY, endX, endY, isDragging = false;
      canvas.addEventListener('mousedown', function(e) {
        startX = e.clientX - canvas.offsetLeft;
        startY = e.clientY - canvas.offsetTop;
        isDragging = true;
      });
      canvas.addEventListener('mousemove', function(e) {
        if (isDragging) {
          endX = e.clientX - canvas.offsetLeft;
          endY = e.clientY - canvas.offsetTop;
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          ctx.fillStyle = 'rgba(255, 0, 0, 0.3)';
          ctx.fillRect(startX, startY, endX - startX, endY - startY);
        }
      });
      canvas.addEventListener('mouseup', function(e) {
        isDragging = false;
      });
      $('#send-btn').on('click', function() {
        var region = ctx.getImageData(startX, startY, endX - startX, endY - startY);
        var imgData = {
          data: region.data,
          width: region.width,
          height: region.height
        };
        $.ajax({
          url: 'path/to/opencv/server',
          type: 'POST',
          data: JSON.stringify(imgData),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(response) {
            console.log('Response:', response);
          },
          error: function(xhr, status, error) {
            console.log('Error:', error);
          }
        });
      });
    });
  </script>
</body>
</html>
